<div class="wrapper">
    <nav>
        <div class="item">
            <a href="#"><i class="fas fa-plus"></i></a>
            <label>Cadastro</label>
        </div>

        <div class="item">
            <a href="#"><i class="fas fa-plus"></i></a>
            <label>Histórico</label>
        </div>

        <div class="item">
            <a href="#"><i class="fas fa-plus"></i></a>
            <label>Pendentes</label>
        </div>

    </nav>

    <div class="right">
        <header>
            <a href="#"><img src="../../assets/logo.svg" alt=""></a>
        </header>
        <router-outlet></router-outlet>
    </div>
</div>