<div class="wrapper">
    <div class="login">
        <span class="title">Entrar</span>
        <form class="login-form">
            <div class="input">
                <label for="username">Nome do usuário</label>
                <input id="username" type="text">
            </div>
            <div class="input">
                <label for="password">Senha</label>
                <input id="password" type="password">
            </div>
            <button>LOGIN</button>
        </form>
        <a href="#" class="guest">SOU VISITANTE</a>
    </div>
</div>
