<div class="wrapper">
    <div class="login">
        <span class="title">Entrar</span>
        <form class="login-form">
            <div class="input">
                <label for="username">Nome do usuário</label>
                <input id="username" type="text">
            </div>
            <div class="input">
                <label for="password">Senha</label>
                <input id="password" type="password">
            </div>
            <button>LOGIN</button>
        </form>
        <a href="#" class="guest">SOU VISITANTE</a>
    </div>
    <div class="main">
      <header>Logo</header>
      <div class="carousel">
        <div class="carousel__slides">
          <div class="slide-1">1</div>
          <div class="slide-2">2</div>
        </div>
        <button class="carousel__button"></button>
      </div>

      <!-- <div class="info-wrapper">
        <div class="info-track">
          <div class="info-title">
            1
          </div>
          <div class="info-about">
            2
          </div>
        </div>
        <div class="info-navigation">N</div>
      </div> -->
    </div>
</div>
